{% extends 'main.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
            {% if release.image %}
            <div class="d-flex justify-content-center">
              <img src="{{ release.image.url }}" class="img-fluid" alt="Event Image" class="img-fluid">
            </div>
            {% endif %}
            <h2 class="card-title pt-5">{{ release.title }}</h2>
            <p class="card-text">{{ release.content }}</p>
            <p class="card-text">Published on: {{ release.published_date }}</p>
            <p class="card-text">Posted by: {{ release.author }}</p>
            {% if release.document %}
              <a href="{{ release.document.url }}" class="btn btn-primary">View Document</a>
            {% endif %}
      </div>
    </div>

    <!-- Comments section -->
    <h3 style="margin-top:50px;">Comments</h3>
    <div class="comments">
        <!-- Loop through comments and display them -->
        {% for comment in release.comments.all %}
        <div class="comment">
        <p>{{ comment.text }}</p>
        <p>By: {{ comment.author }}</p>
        </div>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
    </div>

    <!-- Add comment form -->
    <div class="col-md-6 mt-5 mb-5">
      <h3>Add a Comment</h3>
      <form method="post" action="{% url 'add_comment' release.id %}">
          {% csrf_token %}
          <div class="mb-3">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" id="name" name="author" class="form-control" placeholder="Your name" required>
            </div>
            <label for="message" class="form-label">Comment</label>
            <textarea id="message" name="text" rows="5" class="form-control" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}